* {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: auto; /* Temp as you don't have that many projects */
}

*::selection { /* highlight colour */
  background: #dedede;
} 


html {
  background-color: #f5f5f5;
}

li {
  list-style-type: none;
}

.logo {
  margin-left: 19.5%;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex; /* puts elements next to each other */
  justify-content: space-between;/* spaces elements evenly */
  align-items: center; /* align elements vertically center */
  min-height: 22vh; /* change later */
  font-family: 'Adobe Garamond Pro', serif;
  background-color: #f5f5f5;
}

.nav-links {
  display: flex;
  margin-right: 70px;
  font-style: italic;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.projects {
  padding-left: 19.5%;
  padding-top: 26vh;
  height: 74vh; /* Temp fix for scroll */
}

.projects ul {
  padding-bottom: 40px;
}

.projects h3 {
  font-family: 'Avenir', sans-serif;
  font-size: 13px;
  letter-spacing: 1.3px;
  color: #878787;
  padding-bottom: 14px;
}

.projects a {
  font-family: 'Adobe Garamond Pro', serif;
  font-size: 7.5vw;
  line-height: 11.7vw;
  text-decoration: none;
}

.inactive {
  color: #bbb;
  position: relative;
}

.inactive::after {
  /* For custom strikethrough */
  border-bottom: 1.5px solid #bbb;
  content: "";
  left: 0;
  margin-top: calc(1.5px / 2 * -1);
  position: absolute;
  width: 100%;
  right: 0;
  top: 50%;
}

/* Underline effect */
.active {
  position: relative;
  color: #000;
  left: 0;
}

.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1.3px;
  bottom: 4px;
  left: 0;
  background-color: #000;
  visibility: hidden; /* Hide for browsers without CSS animation support */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.active:hover::before {
  visibility: visible;
  width: 100%;
}

/* ==== RESPONSIVENESS ==== */

@media screen and (min-width: 480px) {
  .projects {
    padding-left: 94px;
  }

  .projects a {
    font-size: 36px;
    line-height: 56px;  }

  .logo {
    margin-left: 94px;
  }

}

@media screen and (min-width: 768px) {
  nav {
    background-color: transparent;
  }

  .projects {
    padding-left: 25%;
    padding-top: 18vh;
    height: 82vh;
  }

  .projects h3 {
    font-size: 18px;
    letter-spacing: 1.8px;
    padding-bottom: 18px;
  }

  .projects a {
    font-size: 42px;
    line-height: 65px;
  }
}

@media screen and (min-width: 1000px) {
}
