@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

* {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
/*  overflow: auto;*/
}

*::selection { /* highlight colour */
  background: #dedede;
} 

html {
  font-size: 3.75vw;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #f6f6f5; /* #f6f3f1 */
  scroll-padding-top: 160px;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-size: 2.66rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1.55rem;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 1.16rem;
  font-weight: 400;
  line-height: 1.3;
}

h3 {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.3;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.83rem; /* == 15px at 480px */
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #878787;
}

.type-significant {
  font-family: 'EB Garamond', serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.9;
  color: #000;
  margin-right: 24px;
  margin-bottom: 40px;
}

.figure-wrapper {
  display: inline-block;
}

figure {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}

figcaption {
  margin-top: 8px;
  font-size: 0.8rem;
  color: #575757;
  text-align: left;
}

img {
  width: 100%;
  object-fit: cover;
}

video {
  width: 100%;
}

li {
  list-style-type: none; /* removes bullets */
}

a {
  text-decoration: none;
}

pre {
  background-color: #f0f0f0;
  font-size: 0.8rem;
  width: 100%;
  padding: 16px;
  margin-bottom: 1rem;
  display: inline-block;
  /* Prevents padding from "spilling" outside wrapper */
  box-sizing: border-box;
}

code {
  background-color: #eaeaea;
  font-family: Inconsolata, monospace;
}

.inline {
  padding: 3px;
  display: inline;
  font-size: 1rem;
}

.fadein{
  animation: fadein 0.5s;
}

.logo {
  margin-left: 10%;
}

.logo-svg {
  fill: #1d1d1b;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 1; /* Forces header on top layer */
}

nav {
  display: flex; /* puts elements next to each other */
  justify-content: space-between; /* spaces elements evenly */
  align-items: center; /* align elements vertically center */
  min-height: 20vh; /* change later */
  font-family: 'EB Garamond', serif;
  background-color: #f6f6f5;
}

.nav-links {
  display: flex;
  margin-right: 10%;/*70px;*/
  font-style: italic;
  font-size: 18px;
  padding-bottom: 4px;
}

.nav-links a {
  padding-right: 2px;
  font-weight: 600;
  color: black;
}

.back-button-svg {
  stroke: #1d1d1b;
  stroke-width: 1.5px;
  stroke-miterlimit: 10;
}

.projects-wrapper {
  height: 100%;
  padding-top: 26vh;
  padding-left: 10%;
}

.projects-wrapper::before {
  opacity: 1;
}

.projects-wrapper ul {
  margin-bottom: 44px;
}

.projects-wrapper h5 {
  padding-bottom: 10px;
}

.projects-wrapper a {
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
}

.active {
  color: #000;
}

.inactive {
  color: #bbb;
}

.underline-left {
  position: relative;
  padding-left: 0;
  -webkit-transition: padding-left 0.2s ease-in-out;
  transition: padding-left 0.2s ease-in-out;
}

.underline-left::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.02rem;
  bottom: 0.3rem;
  left: 0;
  background-color: #000;
  visibility: hidden; /* Hide for browsers without CSS animation support */
  transition-property: visibility, width, left;
  transition-duration: 0.3s, 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
}

.underline-left:hover {
  padding-left: 1.33rem;
}

.underline-left:hover::before {
  visibility: visible;
  width: calc(100% - 1.33rem);
  left: 1.33rem;
}

.underline-down {
  position: relative;
}

.underline-down::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 1px;
  left: 0;
  background-color: #000;
  transition: bottom 0.2s;
}

.underline-down:hover::before {
  bottom: -2px;
}
.strikethrough {
  position: relative;
}

.strikethrough::after {
  border-bottom: 0.04rem solid #bbb;
  content: "";
  left: 0;
  margin-top: calc(0.04rem / 2 * -1);
  position: absolute;
  width: 100%;
  right: 0;
  top: 60%;
}

/* ==== ABOUT PAGE ==== */

.about-wrapper {
  height: 100%;
  padding-left: 19.5%;
  padding-right: 19.5%;
  padding-top: 29vh;
  padding-bottom: 10vh; /* Need to decide vh or px for padding-bottom */
}

.about-headline {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 1.48rem;
  line-height: 1.35;
  /* Hacky fix: element is somehow scrollable on mobile */
  /* overflow: hidden; */
}

.about-wrapper p {
  margin-top: 36px;
}

.about-wrapper h5 {
  margin-right: 24px;
}

.contact-wrapper {
  display: flex;
  align-items: baseline;
  margin-top: 36px;
}

/* ==== ARTICLES  ==== */

.chapter-list-anchor {
  position: sticky;
  top: 180px;
  height: 0;
  width: 0;
  margin-left: 94px;/*calc(28% - 40px - 156px);*/
}

.chapter-list-wrapper {
  width: 156px;
  display: none;
  transition-property: display, opacity;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  /* Force hardware acceleration for Safari otherwise contents disappear */
  -webkit-perspective: 1000; 
}

.chapter {
  font-family: 'EB Garamond', serif;
  font-size: 0.88rem;
  font-weight: 500;
  color: #bbb;
  line-height: 1.3;
  margin-bottom: 0.88rem;
  cursor: pointer;
}

.chapter-current {
  color: #000;
  transition: color 0.4s ease-in-out;
  font-weight: 500;
}

.article-wrapper {
  height: 100%;
  padding-top: 50vh;
  padding-bottom: 40vh;
}

.article-heading, .article-info-wrapper, .article-body {
  padding-left: 10%;
  padding-right: 10%;
}

.article-heading {
  padding-bottom: 3.33rem;
}

.article-info-wrapper {
  margin-bottom: 2.22rem;
}

.article-cover {
  width: 100%;
  height: 100vh;
  margin-bottom: 2.22rem;
}

.article-info {
  margin-bottom: 1rem;
}

.article-link {
  font-weight: 700;
  color: #000;
  transition: color 0.15s ease-in-out;
}

.article-link:hover {
  color: #888;
}

/* ==== RESPONSIVENESS ==== */

@media screen and (min-width: 480px) { /* Tablets */
  html {
    font-size: 18px;
  }

  .logo {
    margin-left: 94px;
  }

  .nav-wrapper {
    z-index: 0;
  }

  .nav-links {
    margin-right: 94px;
  }

  .projects-wrapper {
    padding-left: 94px;
  }
}

@media screen and (min-width: 768px) { /* Laptops */
  html {
    font-size: 20px;
  }

  nav {
    background-color: transparent;
    min-height: 180px; /* change later */
  }

  .projects-wrapper {
    padding-left: 25%;
    padding-top: 18vh;
    height: 82vh;
  }

  .about-wrapper h2 {
    font-size: 1.7rem;
  }

  .contact-wrapper h4 {
    font-size: 0.75rem;
  }

  .contact-wrapper ul {
    display: flex;
    justify-content: space-between;
  }

  .contact-wrapper a {
    margin-left: 45px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 34px;
  }

  .article-heading {
    padding-left: 15%; /*160px;*/
    padding-right: 20%;
  }

  .article-info-wrapper, .article-body {
    padding-left: 30%;
    width: 650px;
  }

  .chapter-list-wrapper {
    display: block;
    z-index: 2;
  }
}

@media screen and (min-width: 1440px) { /* Large Screens */
  .projects-wrapper h3 {
    font-size: 1.1vw; /*17px;*/
    letter-spacing: 0.16vw; /*2.5px;*/
    padding-bottom: 0.70vw; /*13px;*/
  }

  .projects-wrapper a {
    font-size: 2.78vw; /*42px;*/
    line-height: 4.45vw; /*65px;*/
  }

  .active::before {
    height: 0.07vw; /*1.3px;*/
  }

  .about-wrapper {
    padding-left: calc((100% - 878px) / 2);
    padding-right: calc((100% - 878px) / 2);
  }

  .article-info-wrapper, .article-body {
    padding-left: calc((100% - 650px) / 2);
    padding-right: calc((100% - 650px) / 2);
  }

  .chapter-list-anchor {
    /*margin-left: calc(((100% - 650px) / 2) - 156px - 40px);*/
  }

}
