:root {
  /* Typography */
  --font-family-base: var(--font-jetbrains-mono), monospace;
  --font-family-code: var(--font-jetbrains-mono), monospace;

  --font-size-base: 0.925em;
  --font-size-s: 0.825rem;
  --font-size-m: 1.0rem;
  --font-size-l: 1.125rem;

  --line-height-base: 1.5;
  --line-height-code: 1.35;

  /* Colors - Light Mode */
  --bg-color: #ffffff;
  --fg-color: #000000;
  --code-bg: #eeeeee;
  --muted-text: #878787;

  /* Layout */
  --max-width-normal: 42rem;
  --max-width-extended: 54rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #101010;
    --fg-color: #ffffff;
    --code-color: var(--shiki-dark);
    --code-bg: #363636;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  :root {
    --font-size-base: 0.825em;
  }
}

html {
  box-sizing: border-box;
  padding: 2rem 1rem 6rem 1rem;

  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);

  letter-spacing: -0.01ch;
  font-size-adjust: ex-height 0.53;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-wrap: pretty;
}

article, section, figure, header, footer {
  max-width: var(--max-width-extended);
  margin: auto;

  & > *:not(pre, table, header, footer, article, section, figure) {
    max-width: var(--max-width-normal);
  }

  /* markdown unfortunately wraps <img> and <video> in <p> to make them block
   * elements. this :only-child thing is a workaround */
  & video, & img, p:has(> img:only-child), p:has(> video:only-child) {
    max-width: min(100%, var(--max-width-extended));
    height: auto;
  }
}

article, section {
  * + h1, * + h2, * + h3, * + h4 {
    margin-block-start: 3rem;
  }
  * + p, * + pre, * + ul, * + ol, * + hr, * + aside, * + figure, * + table {
    margin-block-start: 1.5rem;
  }
  ul ol, ol ul, ul ul, ol ol {
    margin-block-start: 0;
  }
}

h1, h2, h3, h4 {
  font-size: var(--font-size-m);
}

a {
  color: inherit;
  text-underline-offset: 0.125rem;

  @media (hover: hover) {
    &:hover {
      background: var(--fg-color);
      color: var(--bg-color);
      text-decoration: none;

      code {
        background: transparent !important;
      }
    }
  }
}

ul, ol {
  list-style-position: outside;
  padding-left: 2ch;
  margin-left: 2ch;
}

ol {
  margin-left: 3ch;
}

ul > li {
  padding-left: 1ch;
  margin-bottom: 0;
}

li > p {
  /* Maintain consistent spacing when Markdown wraps <li> content in <p> */
  margin: 0;
}

sup {
  font-size: var(--font-size-s);
  padding-inline: 0.2rem;
}

blockquote {
  font-style: italic;
  border-inline-start: 1px solid var(--fg-color);
  padding-inline-start: 2ch;
  margin-inline-start: 2ch;
  margin-inline-end: 0;
}

aside {
  display: inline-block;
  border: 1px solid var(--muted-text);
  padding: 1rem;
  font-size: var(--font-size-s);
}

code {
  background: var(--code-bg);
  padding: 0.075rem 0.25rem;
  border-radius: 0.25rem;
  tab-size: 4;
  font-variant-ligatures: none;
}

pre {
  padding-inline-start: 2ch;
  overflow-x: auto;
  max-width: 100%;
  border-radius: 4px;
  background: var(--code-bg);

  & > code {
    background: none !important;
    padding: 0;

    counter-reset: step;
    counter-increment: step 0;

    .line::before {
      content: counter(step);
      counter-increment: step;
      width: 1.5rem;
      padding-right: 0.5rem;
      border-right: 1px solid var(--muted-text);
      margin-inline: -1rem 1rem;
      display: inline-block;
      text-align: right;
      color: var(--muted-text);
    }
  }
}

pre, code {
  font-family: var(--font-family-code);
  line-height: var(--line-height-code);
}

.astro-code, .astro-code span {
  /* Handled by <pre> container */
  background-color: transparent !important;
  font-style: normal !important;
}

figure {
  & figcaption {
    font-size: var(--font-size-s);
  }
}

h2#footnote-label {
  display: none;
}

.footnotes {
  margin-block-start: 2rem;
  font-size: var(--font-size-s);

  code {
    font-size: var(--font-size-s);
  }
}

table {
  border-collapse: collapse;
}

th {
  padding-block: 8px;
  text-align: left;
  border-bottom: 1.5px solid var(--fg-color);
}

td {
  padding-block: 8px;
  border-bottom: 1px solid var(--muted-text);
  vertical-align: top;
  line-height: var(--line-height-base);
}

tr:last-child td {
  border-bottom: none;
}

th, td {
  padding-inline: 1rem;

  &:first-child {
    padding-inline-start: 0;
  }

  &:last-child {
    padding-inline-end: 0;
  }
}

hr {
  border: none;
  margin-inline: 0;
  color: inherit;

  &::after {
    content: "—————";
    font-variant-ligatures: none;
  }
}

kbd {
  font-variant-caps: small-caps;
  line-height: 1;
  font-family: var(--font-family-code);
  padding: 0px 6px;
  border: 0.5px solid var(--fg-color);
  border-bottom: 1px solid var(--fg-color);
  border-radius: 4px;
  color: var(--fg-color);
  white-space: nowrap;
}
